.mat-card {
  background: #c79393;
  margin: 0.9rem auto;
  width: 90vw;

  h2 {
    font-size: 1.8rem;
  }

  p {
    font-size: 1.2rem;
    margin-top: 1em;
  }

  span {
    color: #9a4141;
    font-weight: bold;
  }
 
   
}
